
.NavBar{
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(186, 200, 179);
}

.NavBar-img{
    max-height: 100%;
    border-radius: 50%;
    justify-self: start;
}

.NavBar-text{
    color: rgb(24, 24, 24);
    justify-self: center;
    text-align: center;
    flex-grow: 1;
    padding-right: 8rem;
    font-size: 3rem;
    margin: 0;
}